body,html{
padding:0px;
margin:0px;
background: rgb(74,74,74);
background: linear-gradient(0deg, rgba(74,74,74,1) 0%, rgba(0,0,0,1) 100%);

}
#header{
width:90%;
height:auto;
padding:5%;
background:transparent;
position:fixed;
text-align:center;
z-index:999;
transition:0.6s ease-in-out;
color:white;
background-size:cover ;
}

#background{
width:100%;
height:35vh;
background:linear-gradient(180deg,rgba(0,0,0,0.1),rgb(0,0,0,1)),url('images/fondo.PNG') center center fixed;
background-size:cover ;
background-repeat:no-repeat;
}


#scroll-to{
background:transparent;
padding:10px;
position:relative;
top:-35vh;
}


#links{
right:5%;
font-size:18px;
position:absolute;
margin-top:-2.2%;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}
#links a{
text-decoration:none;
margin:0px 35px;
color:inherit;
}
#profile{
width:30%;
height:auto;
padding:5% 20%;
color:white;
font-family: 'Montserrat', sans-serif;
position:relative;
top:-20vh;
}

#profile-image{
width:180px;
height:180px;
background-color:white;
background:url('images/curro.jpg') center center;
background-size:cover;
background-repeat:no-repeat;
border-radius:50%;
}

@media (max-width: 800px) {
    #profile-image {
        margin-left:10vw;
        
    }
  }
#userdata{
position:absolute;
top:2vh;
width:56%;
margin-left:18vw;
}

@media (max-width: 600px) {
    #userdata {
        top:30vh;
        
    }
  }

#username{
font-size:30px;
margin:20px 0px;
}

#about{
font-size:18px;
margin:20px 0px;
}
#location{
margin:20px 0px;
}
.location{
font-size:16px;
margin-right:8px;
}
#website{
margin:20px 0px;
}
.website{
font-size:16px;
margin-right:8px;
}



#f-data{
margin:20px 0px;
}
#f-data table{
border:0px;
}
#f-data td{
border:0px;
text-align:left;
padding:5px 0px;
font-size:24px;
width:230px;
}
#f-data td b{
font-size:16px !important;
}

*:focus {
outline: none;
}
.placeW::-webkit-input-placeholder{
color:white;
}
.placeB::-webkit-input-placeholder{
color:#282828;
}

#posts{
width:80%;
margin:0;
text-align:left;
padding-left:20%;
color:#282828;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
margin-bottom:10vh;
margin-top:-12vh;
}


.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.p-data{
background:#fff;
width:70%;
border-radius:8px;
margin:60px 0px;
}
.p-data img{
border-radius:8px 8px 0px 0px;
}
.p-top{
width:92%;
padding:10px 3.8%;
font-size:16px;
padding-top:20px;
}
.p-userimg{
width:50px;
height:50px;
background:url('images/icon_status_success.png') center center;
background-size:cover;
border-radius:50%;
display:inline-block;
}

.p-userconst{
    width:50px;
    height:50px;
    background:url('images/maintenance.svg') center center;
    background-size:cover;
    border-radius:50%;
    display:inline-block;
}
.p-username{
display:inline-block;  
position:absolute;
margin-top:1%;
margin-left:1%;
font-size:18px;
}

.p-time{
float:right;
margin-top:15px;
color:#525252;
font-size:14px;
}
.p-text{
width:92%;
padding:20px 3.8%;
font-size:18px;
padding-top:10px;
}

.p-text ul li{
  font-size:18px;

}
.p-bottom{
width:100%;
padding:20px;
padding-bottom:30px;
}
.p-bottom button{
width:50px;
margin-right:30px;
background:transparent;
border:0px;
text-align:left;
font-size:16px;
}

::-webkit-scrollbar{
width: 5px;
height: 5px;
}
::-webkit-scrollbar-track{
background: #f1f1f1;
border-radius: 5px;
}
::-webkit-scrollbar-thumb{
background: #757575;
border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
background: #2e2e2e;
}