
body {
    padding:0px;
    margin:0px;
    background: rgb(7,20,32);
    background: linear-gradient(0deg, rgba(7,20,32,1) 0%, rgba(4,22,43,1) 100%);
    width:100vw;
    height:100vh;
    overflow:hidden;
    font-family: Calibre, San Francisco, SF Pro Text, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;

}

#box {
    width:100vw;
    height:100vh;
    z-index:9;
    position:fixed;
    top:0;
}
#box div {
    width:16.66vw;
    height:100%;
    display:inline-block;
}
.box1 {
    background: rgb(7,20,32);
    background: linear-gradient(0deg, rgba(7,20,32,1) 0%, rgba(4,22,43,1) 100%);
}
.box2 {
    background: rgb(7,20,32);
    background: linear-gradient(0deg, rgba(7,20,32,1) 0%, rgba(4,22,43,1) 100%);
    margin-left:-5px;
}
#menu {
    width:100%;
    text-align:center;
    margin:6vh 0px;
    display:none;
}
#menu a {
    margin:0px 6%;
    font-size:19px;
    color:#fff;
    cursor: pointer;
}

#menu a:hover {
    margin:0px 6%;
    font-size:19px;
    color:#48CA8F;
    cursor: pointer;
}
#middle {
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:fixed;
    top:0;
    text-align:center;
    z-index:1;
    color:#fff;
    padding-bottom:10vh;
}
#middle h1 {
    color:rgb(212, 231, 255);
    font-size:60px;
    font-family: Calibre, San Francisco, SF Pro Text, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;;
    font-weight: bold;
}

#middle h1:hover{
    color:#48CA8F;
    transition:0.4s ease-in-out;
}
#about {
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(-90deg);
    background:transparent;
    color:#fff;
    position:fixed;
    left:0;
    bottom:40vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 50px 50px;
}

#about_container h1{
    color:#48CA8F;
    
}

#about_container h2{
    color:#48CA8F;
    font-size: 20px;
    
}


#work {
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(90deg);
    background:transparent;
    color:#fff;
    position:fixed;
    right:0;
    bottom:40vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 50px 50px;
}

#about:hover {
    background:#48CA8F;
    cursor:pointer;
}
#work:hover {
    background:#48CA8F;
    cursor:pointer;
}

#middle table {
    width:30%;
    margin:6vh auto;
}
#middle table tr td {
    text-align:center;
}
.social {
    color:#fff;
    font-size:22px;
    border-radius:50%;
    transition:0.4s ease-in-out;
    margin:0px 8px;
    text-align:center;
}
.social:hover { 
    cursor: pointer;
    color:#48CA8F;
}
.container {
    width:90vw;
    height:90vh;
    padding:5vh 5vw;
    background: rgb(7,20,32);
    background: linear-gradient(0deg, rgba(7,20,32,1) 0%, rgba(4,22,43,1) 100%);
    color:#fff;
    z-index:9;
    position:fixed;
    max-height:100vh;
    overflow-y:auto;
    display:none;
}
.container div {
    font-size:25px;
    margin:20px 0px;
    transition:0.4s ease-in-out;
}
.container div:hover {
    cursor:pointer;
}
.container section {
    margin:8vh 0px;
}
#used div{
    font-size:14px !important;
    display:inline-block;
    padding:8px 10px;
    border:2px solid #fff;
    margin:0px 10px;
    border-radius:50px;
}
#used:hover {
    cursor:text;
}
#used div:hover {
    cursor:text;
}
.container h1 {
    font-size:25px;
    
}
.container p {
    color:rgb(255, 255, 255);
    line-height: 1.3;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: -1000;
}

#particles-js {
    position:fixed;
    width:100vw;
    height:100vh;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #fff; 
}
::-webkit-scrollbar-thumb {
    background: #48CA8F; 
}
::-webkit-scrollbar-thumb:hover {
    background: #48CA8F; 
}
::selection {
    color: #fff;
    background: #48CA8F;
}

@media (max-width: 800px){ 
    #about {
        display:none;
    }
    
    #work {
        display:none;
    }
    
    #middle {
        width:90vw;
        padding:0px 5vw;
    }
    #middle table {
        width:80%;
    }
    
    #menu {
        display:inline-block;
    }
    #onlywide {
        display:none !important;
    }
    .box2 {
        margin-left:0px !important;
    }
    #box div {
        width:100%;
    }
}





.myButton {
    background-color:#48CA8F;
    border-radius:28px;
    border:1px solid #48CA8F;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
    background-color:#5cbf2a;
}
.myButton:active {
    position:relative;
    top:1px;
}

 

.p-data{
color:#282828;
background:#fff;
width:70%;
float: left;
border-radius:8px;
margin-left: 50px;
}

@media (max-width: 1100px) {
    .p-data {
      width:100%;
        
    }
  
  }
  
  @media (max-width: 900px) {
    .p-data {
        width:100%;
        
    }
  
  }
.p-data img{
border-radius:8px 8px 0px 0px;
width: 100%;
}
.p-top{
width:92%;
padding:10px 3.8%;
font-size:16px;
padding-top:20px;
}
.p-userimg{
width:25px;
height:25px;
margin: 15px;
background:url('images/icon_status_success.png') center center;
background-size:cover;
border-radius:50%;
display:inline-block;
}

.p-userconst{
    width:25px;
    height:25px;
    background:url('images/maintenance.svg') center center;
    background-size:cover;
    border-radius:50%;
    display:inline-block;
}
.p-username{
display:inline-block;  
position:absolute;
margin-top:1%;
margin-left:1%;
font-size:18px;
}

.p-time{
float:right;
margin-top:15px;
color:#525252;
font-size:14px;
}
.p-text{
width:92%;
padding:20px 3.8%;
font-size:18px;
padding-top:10px;
}

.p-text ul li{
  font-size:18px;

}
.p-bottom{
width:100%;
padding:20px;
padding-bottom:30px;
}
.p-bottom button{
width:50px;
margin-right:30px;
background:transparent;
border:0px;
text-align:left;
font-size:16px;
}



.datos a{
        color: #fff;

}

.datos #nombre{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.datos #sobremi{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.datos #info{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; 
}
#info a{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; 
}



#projects-data {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; 
}

#projects-data td {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; 
    margin: 20px;
}

#projects-data b {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; 
}

#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgb(7,20,32);
    background: linear-gradient(0deg, rgba(7,20,32,1) 0%, rgba(4,22,43,1) 100%);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 5s infinite linear;
    width:100px;
    height:100px;
    background-image: url("images/icon.png");
    
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

